<section class="py-8 text-center bg-pink-100 md:py-16">
    <!-- Título de la sección -->
    <h2 class="mb-4 text-3xl font-bold text-gray-800 transition duration-300 sm:text-4xl hover:scale-105">Así Creamos Tu Evento Perfecto</h2>
    <p class="mb-8 text-base text-gray-600 transition duration-300 sm:text-lg hover:scale-105">Nuestro proceso está diseñado para asegurar que cada evento sea un éxito rotundo.</p>
    
    <!-- Contenedor de pasos en un diseño vertical -->
    <div class="flex flex-col items-center space-y-8 sm:space-y-12 md:space-y-16">
        <!-- Paso 1: Consulta Inicial -->
        <div class="flex flex-col items-start w-full max-w-xs mx-auto sm:flex-row sm:max-w-lg">
            <!-- Icono en un círculo -->
            <div class="flex flex-col items-center mb-4 transition duration-300 sm:mr-8 hover:scale-105 sm:mb-0">
                <div class="flex items-center justify-center w-12 h-12 transition duration-300 bg-white rounded-full shadow-md hover:scale-105">
                    <img src="/src/icons/conversation.svg" alt="Consulta Icono" class="w-6 h-6 text-pink-500 transition duration-300 hover:scale-105">
                </div>
            </div>
            <!-- Contenido del paso -->
            <div class="text-left">
                <h3 class="text-lg font-bold text-gray-800 transition duration-300 sm:text-xl hover:scale-105">Consulta Inicial</h3>
                <p class="text-gray-600 transition duration-300 hover:scale-105">Conversamos contigo para entender tus deseos y expectativas.</p>
            </div>
        </div>


        <div class="flex justify-center w-full mb-4 transition duration-300 hover:scale-105 sm:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-pink-500 transition duration-300 hover:scale-105" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        
        
        <div class="flex flex-col items-start w-full max-w-xs mx-auto sm:flex-row sm:max-w-lg">
            <!-- Icono en un círculo -->
            <div class="flex flex-col items-center mb-4 transition duration-300 sm:mr-8 hover:scale-105 sm:mb-0">
                <div class="flex items-center justify-center w-12 h-12 transition duration-300 bg-white rounded-full shadow-md hover:scale-105">
                    <img src="/src/icons/pencil.svg" alt="Diseño Icono" class="w-6 h-6 text-pink-500 transition duration-300 hover:scale-105">
                </div>
            </div>
            
            <div class="text-left">
                <h3 class="text-lg font-bold text-gray-800 transition duration-300 sm:text-xl hover:scale-105">Diseño Personalizado</h3>
                <p class="text-gray-600 transition duration-300 hover:scale-105">Creamos un plan único que refleja tu visión.</p>
            </div>
        </div>

        <!-- Flecha hacia abajo -->
        <div class="flex justify-center w-full mb-4 transition duration-300 hover:scale-105 sm:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-pink-500 transition duration-300 hover:scale-105" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        
        
        <div class="flex flex-col items-start w-full max-w-xs mx-auto sm:flex-row sm:max-w-lg">
            <!-- Icono en un círculo -->
            <div class="flex flex-col items-center mb-4 transition duration-300 sm:mr-8 hover:scale-105 sm:mb-0">
                <div class="flex items-center justify-center w-12 h-12 transition duration-300 bg-white rounded-full shadow-md hover:scale-105">
                    <img src="/src/icons/ejecute.svg" alt="Ejecución Icono" class="w-6 h-6 text-pink-500 transition duration-300 hover:scale-105">
                </div>
            </div>
            <!-- Contenido del paso -->
            <div class="text-left">
                <h3 class="text-lg font-bold text-gray-800 transition duration-300 sm:text-xl hover:scale-105">Ejecución Impecable</h3>
                <p class="text-gray-600 transition duration-300 hover:scale-105">Nos aseguramos de que todo salga perfecto, cuidando cada detalle.</p>
            </div>
        </div>
    </div>
</section>





