<section class="relative py-8 bg-white sm:py-16">

    <!-- Contenedor principal para el texto y los botones en una fila -->
    <div class="flex flex-col items-center justify-between max-w-5xl px-4 mx-auto sm:flex-row">
        <!-- Texto a la izquierda -->
        <div class="w-full mb-8 text-left sm:mb-0 sm:w-1/2">
            <h2 class="mb-2 text-xl font-bold text-center text-gray-800 sm:text-2xl sm:text-left">¿Listo para Crear Recuerdos Inolvidables?</h2>
            <p class="text-center text-gray-600 sm:text-left">Contáctanos hoy y comienza a planificar tu evento soñado con TM COSITAS.</p>
        </div>

        <!-- Botones a la derecha -->
        <div class="flex flex-col w-full space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4 sm:w-1/2">
            <a href="https://wa.me/51908618955" target="_blank" class="px-6 py-3 font-semibold text-center text-white transition duration-300 bg-pink-500 rounded-md hover:bg-pink-600 hover:scale-105">
                Contactar
            </a>
            <a href="/deco" class="px-6 py-3 font-semibold text-center text-gray-800 transition duration-300 border-2 border-gray-300 rounded-md hover:border-pink-500 hover:scale-105">
                Conoce Más →
            </a>
        </div>
    </div>
</section>




    
