---
import { SERVICES } from "@data/services";
---

<section class="relative py-8 text-center portada-bg md:py-16">
  <div class="py-8 bg-black/50 md:py-16">
    <div class="max-w-6xl px-4 mx-auto md:px-8">
      <h2 class="mb-4 text-3xl font-bold text-center text-white transition duration-300 md:text-5xl lg:text-6xl hover:scale-105 md:text-left">
        Descubre Nuestros <span class="block">Servicios Mágicos</span>
      </h2>
      <p class="mb-8 text-base text-white transition duration-300 md:text-lg lg:text-xl hover:scale-105">
        En TM COSITAS, cada celebración se transforma en un recuerdo inolvidable. Conoce cómo
        podemos hacer de tu evento un día especial.
      </p>

      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {SERVICES.map((service) => (
          <div class="p-6 transition-all duration-500 bg-white/10 rounded-lg backdrop-blur-md hover:scale-105">
            <div class="flex items-center mb-2">
              <img src={service.icon} alt={service.iconAlt} class="w-8 h-8 mr-4 md:w-6 md:h-6" />
              <h3 class="font-bold text-center text-white text-base md:text-lg">{service.title}</h3>
            </div>
            <p class="text-sm font-light text-justify text-white md:text-base">{service.description}</p>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
  .portada-bg {
    background-image: url("/image/fotito.png");
    background-position: center;
    background-size: cover;
  }
</style>
