<section class="relative py-8 text-center md:py-16" style="background-image: url('/image/fotito.png'); background-position: center;">
  <!-- Capa de superposición oscura para mejorar la legibilidad del texto -->
  <div class="py-8 bg-opacity-50 md:py-16">
    <div class="max-w-6xl px-4 mx-auto md:px-8">
      <!-- Título de la sección -->
      <h2 class="mb-2 text-3xl font-bold text-center text-white transition duration-300 md:text-5xl lg:text-6xl hover:scale-105 md:text-left">Descubre Nuestros</h2>
      <h2 class="mb-4 text-3xl font-bold text-center text-white transition duration-300 md:text-5xl lg:text-6xl hover:scale-105 md:text-left">Servicios Mágicos</h2>
      <p class="mb-8 text-base text-white transition duration-300 md:text-lg lg:text-xl hover:scale-105">En TM COSITAS, cada celebración se transforma en un recuerdo inolvidable. Conoce cómo podemos hacer de tu evento un día especial.</p>

      <!-- Contenedor de los servicios en columnas amplias en pantallas grandes -->
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <!-- Servicio 1: Cumpleaños Temáticos -->
        <div class="p-6 transition-all duration-500 bg-white rounded-lg bg-opacity-10 backdrop-blur-md hover:scale-105">
          <div class="flex items-center mb-2">
            <img src="/icons/cake.svg" alt="Icono Cumpleaños" class="w-8 h-8 mr-4 md:w-6 md:h-6">
            <h3 class="font-bold text-center text-white text-md md:text-lg">Cumpleaños Temáticos</h3>
          </div>
          <p class="text-sm font-light text-justify text-white md:text-base">Creamos experiencias únicas con decoraciones que capturan la esencia de tus sueños.</p>
        </div>

        <!-- Servicio 2: Entretenimiento Enriquecedor -->
        <div class="p-6 transition-all duration-500 bg-white rounded-lg bg-opacity-10 backdrop-blur-md hover:scale-105">
          <div class="flex items-center mb-2">
            <img src="/icons/music.svg" alt="Icono Entretenimiento" class="w-8 h-8 mr-4 md:w-6 md:h-6">
            <h3 class="font-bold text-center text-white text-md md:text-lg">Entretenimiento Enriquecedor</h3>
          </div>
          <p class="text-sm font-light text-justify text-white md:text-base">Proporcionamos diversión y entretenimiento para todas las edades, asegurando momentos de alegría.</p>
        </div>

        <!-- Servicio 3: Planificación Detallada -->
        <div class="p-6 transition-all duration-500 bg-white rounded-lg bg-opacity-10 backdrop-blur-md hover:scale-105">
          <div class="flex items-center mb-2">
            <img src="/icons/star.svg" alt="Icono Planificación" class="w-8 h-8 mr-4 md:w-6 md:h-6">
            <h3 class="font-bold text-center text-white text-md md:text-lg">Planificación Detallada</h3>
          </div>
          <p class="text-sm font-light text-justify text-white md:text-base">Nos encargamos de cada detalle para que disfrutes sin preocupaciones.</p>
        </div>
      </div>
    </div>
  </div>
</section>





