<section class="flex flex-col items-center justify-center py-10 bg-pink-100 lg:flex-row lg:items-start">
    <div class="flex justify-center w-full px-4 lg:w-1/2 lg:justify-end">
      <div class="relative flex items-center justify-center p-4 bg-pink-200 rounded-lg shadow-md" style="max-width: 350px;">
        <!-- Imagen de ejemplo de escritorio -->
        <img src="/src/image/image4.jpeg" alt="Escritorio ilustrado" class="object-cover w-full h-auto rounded-lg" />
      </div>
    </div>
    <div class="w-full px-4 mt-6 text-center lg:w-1/2 lg:mt-0 lg:text-left lg:pl-10">
        <h2 class="text-2xl font-semibold text-gray-900 lg:text-4xl">Ponte en contacto</h2>
        <h2 class="text-2xl font-semibold text-gray-900 lg:text-4xl">con nosotros</h2>
      <div class="mt-4 space-y-4">
        <div>
          <p class="font-medium text-gray-600">Horario de Oficina</p>
          <p class="text-gray-500">Lunes-Viernes</p>
          <p class="text-gray-500">8:00 am a 5:00 pm</p>
        </div>
        <div>
          <p class="font-medium text-gray-600">Nuestra Dirección</p>
          <p class="text-gray-500">Calle Falsa 123</p>
          <p class="text-gray-500">Ciudad Fantasía, País</p>
        </div>
        <div>
          <p class="font-medium text-gray-600">Comunícate</p>
          <p class="text-gray-500">+123-456-7890</p>
          <p class="text-gray-500">+098-765-4321</p>
        </div>
      </div>
    </div>
  </section>
  
  