<footer class="py-8 bg-white">
    <div class="container px-4 mx-auto">
        <!-- Contenedor principal del footer -->
        <div class="flex flex-col items-center justify-center space-y-6 sm:space-y-0">
            
            <!-- Menú de navegación centrado con hover rosado y animación -->
            <nav class="flex flex-col items-center py-6 space-y-4 text-gray-700 sm:flex-row sm:space-y-0 sm:space-x-8">
                <a href="/" class="px-2 transition-all duration-300 hover:text-pink-500 hover:scale-105">Inicio</a>
                <a href="/servicios" class="px-2 transition-all duration-300 hover:text-pink-500 hover:scale-105">Nuestros Servicios</a>
                <a href="/deco" class="px-2 transition-all duration-300 hover:text-pink-500 hover:scale-105">Decoraciones</a>
            </nav>
    
            <!-- Iconos sociales con hover rosado y animación -->
            <div class="flex justify-center pt-6 space-x-6">
                <a href="https://www.facebook.com/tmcositas" aria-label="Facebook" class="px-2 py-4 text-gray-700 transition duration-500 ease-in-out hover:text-pink-500 hover:scale-105">
                    <img src="/icons/facebook.svg" alt="Facebook" class="w-8 h-8 fill-current" />
                </a>
                <a href="https://www.instagram.com/tmcositas" aria-label="Instagram" class="px-2 py-4 text-gray-700 transition duration-500 ease-in-out hover:text-pink-500 hover:scale-105">
                    <img src="/icons/instagram.svg" alt="Instagram" class="w-8 h-8 fill-current" />
                </a>
                <a href="https://wa.me/c/51953262911" aria-label="WhatsApp" class="px-2 py-4 text-gray-700 transition duration-500 ease-in-out hover:text-pink-500 hover:scale-105">
                    <img src="/icons/whatsapp.svg" alt="WhastApp" class="w-8 h-8 fill-current" />
                </a>
                <a href="https://www.tiktok.com/@tmcositas" aria-label="WhatsApp" class="px-2 py-4 text-gray-700 transition duration-500 ease-in-out hover:text-pink-500 hover:scale-105">
                    <img src="/icons/tiktok.svg" alt="tiktok" class="w-8 h-8 fill-current" />
                </a>
            </div>
        </div>
    
        <!-- Derechos de autor centrados -->
        <div class="px-4 pb-6 mt-6 text-sm text-center text-gray-600">
            © 2024 TM COSITAS. Todos los derechos reservados. Creando momentos mágicos para cada celebración.
        </div>
    </div>
</footer>




