<header class="flex items-center justify-between w-full px-6 py-4 transition-shadow duration-300 border border-gray-200 shadow-md md:px-20 hover:shadow-lg">
  <div class="flex items-center">
    <img src="/src/image/logo-tmcositass.jpg" alt="Logo" class="w-12 h-12 transition-transform duration-300 hover:scale-110" loading="lazy" />
  </div>

  <nav class="hidden space-x-14 md:flex">
    <a href="/" class="text-lg text-gray-600 transition-all duration-300 hover:text-pink-500 hover:scale-105">Inicio</a>
    <a href="/servicios" class="text-lg text-gray-600 transition-all duration-300 hover:text-pink-500 hover:scale-105">Servicios</a>
    <a href="/deco" class="text-lg text-gray-600 transition-all duration-300 hover:text-pink-500 hover:scale-105">Decoraciones</a>
  </nav>

  <div class="flex items-center space-x-10">
    <a href="#" class="flex items-center py-3 text-lg text-white transition-all duration-500 bg-pink-500 rounded-full px-7 hover:bg-pink-600 hover:scale-105">
      Contact us
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </a>
  </div>
</header>



